# For more information: https://laravel.com/docs/sail
services:
    data-api.test:
        build:
            context: ./docker/8.3
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.3/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
            - '443:443' # SSL port
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        volumes:
            - '.:/var/www/html'
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf # Nginx configuration
            - ./docker/nginx/ssl:/etc/nginx/ssl # SSL certificates
        networks:
            - sail
networks:
    sail:
        driver: bridge
